{% extends 'anasayfa.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Giriş
{% endblock title %}


{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-info mb-3 mt-3" value="Giriş Yap">
    </form>
<div class="float-end">
    <img class="m-2 mb-lg-3" src="{% static 'img/bbb.webp' %}" alt="">
    <img class="m-2 mb-lg-3" src="{% static 'img/microsoft.webp' %}" alt="">
    <img class="m-2 mb-lg-3" src="{% static 'img/partner.png' %}" alt="">
</div>

<div class="float-start col-sm-9 mb-5">
<img src="{% static 'img/images2.jpg' %}" class="mt-4 me-3 img" alt="">
<img src="{% static 'img/images.jpg' %}" class="mt-4  img" alt="">
</div>
{% endblock content %}